.InfoCard {
    border: 1px solid white;
    border-radius: 10px;
    height: 450px;
    width: 500px;
    position: absolute;
    top: 15%;
    left: 30%;
}

.heading {
    height: 35px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-style: inherit;
    border-bottom: 1px dotted black;
}

.info {
    padding-left: 25px;
}

#inputBox {
    margin-left: 20px;
    color: white;
}

.search {
    height: 30px;
    color: rgb(153, 148, 148);
}