.Body {
    display: flex;
    justify-content: space-evenly;
}

.Location {
    margin: 0;
    padding: 0;
}

.lol {
    background-color: grey;
    width: 400px;
}

.phu {
    padding-left: 150px;
}