.Body {
    display: flex;

}

.ish {
    padding-left: 150px;
}

.age {
    font-weight: 100;
    margin-left: 5px;
}

.lol {
    border-bottom: 1px solid black;
    background-color: white width 400px;
}

.phu {
    padding-left: 150px;
}