/* .maje {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-left: 431px;
    margin-right: 431px;
} */

.github {
    height: 100%;
    width: 100%;
    background-color: rgb(58, 55, 55);
}